.wrapper {
  margin-right: auto;
  margin-left: auto;

  background-color: #fff;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 10px auto 5px auto;

  border-radius: 5px;

}

.button {
  display: block;
  width: 100px;
  height: 30px;
  margin-left: 10px;
  border: 0.5;
  
  background-repeat: no-repeat;
  background-position: center;
  background-image: '../../images/search.svg';
  border-radius: 5px;
  background-color: #fff;
  border-color: grey;
  cursor: pointer;
  outline: none;
}

.button:hover {
  color: #fff;
}

.label {
  width: 1px;
  height: 1px;
  padding: 0;

  font-size: 20px;
  color: grey;
  text-transform: uppercase;
}

.input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0px 5px 0px 5px;

  font-size: 20px;
  border-color: grey;
  border-color: grey;
  border-radius: 5px;
  border-width: 1px;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}
